.blueButton {
    background-color: #426EA0;   
    color: white !important;
    }
    
    fieldset {
        background-color: #DDDDDD;
    
    border: 1px solid #999999;
    margin: 10px 0;
    padding: 10px;
}

legend.suspended {
    background: rgb(204, 51, 51);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 3px;
    /* font-family: "Open Sans";
    font-style: normal;
     src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff"); */
    
}

legend.running {
    background: rgb(120, 150, 0);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 3px;
    /* font-family: "Open Sans";
    font-style: normal;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
    */
    
}

.box-info, .box-warning, .box-hint, .box-download {
    color: #FFFFFF;
    text-align: justify;
}

.box-info {
    background: url("images/check1.png") no-repeat scroll 0 0 #789600;
    border-color: #DCE6BE;
    
}
.box-info, .box-warning, .box-hint, .box-download {
    color: #FFFFFF;
    margin: 15px 0;
    padding: 10px 10px 10px 40px;
    text-align: justify;
}

.box-warning {
    background: url("images/box_warning.png") no-repeat scroll 0 0 #CC3333;
    border-color: #DB4D4D;
}

.greenButton {
    background-color: #789600;
    color: white !important;
}
.redButton {
    background-color: #CC3333;
    color: white !important;
}

.lin-pos-class
{
	margin-left: 50px;
	margin-right: 50px;
}

#wrapper {
    margin: 0 0 0 20px;
    position: relative;
    z-index: 0;
}

#content {
    color: #111111;
}
#content {
    font-weight: normal;
}
dl.separator
{
	 /* font-family: "Open Sans";
    font-style: normal; */
    font-weight: 300;
    /* src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff"); */

}
.lin-font
{
 	/* font-family: "Open Sans";
    font-style: normal; */
    font-weight: 300;
    /* src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff"); */
	font-weight: normal;
}

@font-face {
    /* font-family: "Open Sans";
    font-style: normal; */
    font-weight: 400;
   /*  src: local("Open Sans"), local("OpenSans"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"); */
}


dl.separator dt {
    clear: both;
    float: left;
    padding-right: 10px;
    width: 150px;
}
dl.separator dd {
    border-left: 1px solid #999999;
    margin-left: 160px;
    padding: 5px 0 5px 20px;
}
dl.separator dt {
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
}
dl.separator dt:before {
    border-top: 1px solid #999999;
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
    width: 30px;
}
dl.separator dt:after {
    background: none repeat scroll 0 0 #999999;
    border: 1px solid #999999;
    content: "";
    height: 3px;
    position: absolute;
    right: -3px;
    top: -2px;
    width: 3px;
}
dl.separator dt:first-child:before, dl.separator dt:first-child:after {
    display: none;
}

.hidden
{
	display:none
}

#list_instances_page {
  margin: 0 auto 60px;
  width: 700px;
  height: 500px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top : 20px;
  margn-bottom: 30px;
  max-width: 900px;
  min-height: 200px;
  min-width: 300px;
  padding: 30px 30px 30px;
  position: relative;
  z-index: 1;
}

.box-content, .box-note {
    margin: 15px 0;
    padding: 15px;
    text-align: justify;
}
.box-info, .box-warning, .box-hint, .box-download {
    color: #FFFFFF;
    margin: 15px 0;
    padding: 10px 10px 10px 40px;
    text-align: justify;
}
.box-note {
    background-color: #FF6600;
    border-color: #FF9900;
    color: #FFFFFF;
}
.box-info {
    background: url("../../img/icons/box_info.png") no-repeat scroll 0 0 #296ACC;
    border-color: #B2B2FF;
}
.box-warning {
    background: url("../../img/icons/box_warning.png") no-repeat scroll 0 0 #CC3333;
    border-color: #DB4D4D;
}
.box-hint {
    background: url("../../img/icons/box_hint.png") no-repeat scroll 0 0 #FF7700;
    border-color: #FAE6BE;
}
.box-download {
    background: url("../../img/icons/box_download.png") no-repeat scroll 0 0 #789600;
    border-color: #DCE6BE;
}
.box-content {
    background: none repeat scroll 0 0 #555555;
    color: #FFFFFF;
}

ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
}


#licontentWrapper {
    margin: 0 auto 60px;
    max-width: 900px;
    min-height: 400px;
    min-width: 400px;
    padding: 20px 20px 20px;
    position: relative;
    z-index: 1;
}
div.lipageContent {
    height: auto !important;
    
}
.lipageContent {
    background: none repeat scroll 0 0 rgba(180, 180, 180, 0.2);
    box-shadow: 0 0 7px #777777;
}